////////////////////////////////////////////////////////////////////////////
// SASS variables
////////////////////////////////////////////////////////////////////////////

// Bootstrap overrides (see node_modules/bootstrap/scss/_variables.scss)
$font-family-sans-serif:      Raleway, sans-serif;
$brand-primary:               #074e68;  // yup - a Zurb color
//$brand-success:             $green;
//$brand-info:                $teal;
//$brand-warning:             $orange;
//$brand-danger:              $red;
//$brand-inverse:             $gray-dark;
